@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.ex2-cursive-font {
    font-family: 'Parisienne', cursive;
}

.ex2-fraunces-font {
    font-family: 'Fraunces', serif;
}

.ex2-a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
}

.ex2-gradient {
    background: linear-gradient(#f87070, #9198e5);
    padding: 20px;
    border-style: solid;
}

.nav-links a {
    text-decoration: none;
    color: white;
    background-color: #E21C24;
    padding: 1%;
    border-radius: 10px;
}

.ex-5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    background-color: #1b142a;
}

.ex-5-text {
    text-align: center;
    font-size: 3vw;
    color: white;
}

.introvert {
    margin-top: 40px;
    width: 100%;
    font-size: 1.9em;
    text-align: center;
    -webkit-transition: font-size 0.8s ease;
    -moz-transition: font-size 0.8s ease;
    -o-transition: font-size 0.8s ease;
    transition: font-size 0.8s ease;
    position: absolute;
    z-index: 2;
}

.introvert:hover {
    font-size: 1em;
}

.extrovert {
    margin-top: 500px;
    width: 100%;
    font-size: 1.9em;
    text-align: center;
    -webkit-transition: font-size 0.8s ease;
    -moz-transition: font-size 0.8s ease;
    -o-transition: font-size 0.8s ease;
    transition: font-size 0.8s ease;
    position: absolute;
    z-index: 2;
}

.extrovert:hover {
    font-size: 2.9em;
}

.ex-5-home {
    color: white;
    position: relative;
    z-index: 3;
    font-size: 1.5vw;
    padding: 10px;
}

#canvas {
    position: absolute;
    z-index: 0;
    max-width: 100%;
    height: auto;
}