@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.ex2-cursive-font {
    font-family: 'Parisienne', cursive;
}

.ex2-fraunces-font {
    font-family: 'Fraunces', serif;
}

.ex2-a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
}

.ex2-gradient {
    background: linear-gradient(#f87070, #9198e5);
    padding: 20px;
    border-style: solid;
}

.nav-links a {
    text-decoration: none;
    color: white;
    background-color: #E21C24;
    padding: 1%;
    border-radius: 10px;
}

.ex-6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1b142a;
    text-align: center;
}

.ex-6 h1 {
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

.ex-6 a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

.ex-6 h2 {
    font-size: 2vw;
}

.ex-6 p {
    font-size: 1.5vw;
}

.ex-6 img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#canvas {
    max-width: 100%;
    height: auto;
}