@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Forum&display=swap');

body {
    text-align: center;
    font-family: 'Forum', cursive;
}

header {
    font-family: 'Cinzel Decorative', cursive;
}

h1 {
    text-shadow: 2px 2px 10px violet;
}

a {
    background-color:rgb(81, 22, 95);
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    text-decoration: none;
}
