@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Oleo+Script+Swash+Caps&display=swap');

header {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 0.3rem;
}

header h2 {
    padding: 0px;
    margin: 5px;
    font-size: 1.5rem;
}

header h1 {
    
      padding: 0px 0px;
    margin: 0px 0px;
    font-size: 3rem;
    
}

hr {
    width: 50%;
    border-width: 2px;
    margin: 0 auto;
    color: white;
    font-size: 1.5em;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, rgb(49, 49, 49), rgb(122, 122, 122), rgb(247, 217, 136), rgb(252, 221, 49), rgb(161, 29, 29), rgb(90, 5, 139), rgb(33, 5, 85)), fixed;
    margin: 0;    
}

.black-white {
    color: white;
    padding: 0 5%;
    font-size: 3em;
}