@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body { 
    font-family: 'Cinzel', serif;
    margin: 0;
    background-color: black;
}

header h1 {
    margin: 0;
    font-size: 4vw;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

header {    
    z-index: 2;
    width: 100%;
    position: relative;
    margin: 0;
}

.background {
    position: absolute;
    z-index: 0;
    max-width: 100%;
}

.ribbon-cranberry {
    background-color: #940D00;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 0.50vw;
    border-color: black;
}

.container {
    max-width: 100%;
    color: white;
    margin: 2% 5% 5% 5%;
    font-size: 1.5vw;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    z-index: inherit;
    padding: 1%;
    border-radius: 2vw;
}

.container h2 {
    background-color: #940D00;
    padding: 1%;
    border-style: solid;
    border-color: white;
}

.container a {
    text-decoration: none;
    color: #ffd900;
}

.background {
    z-index: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.ticket {
    margin: 2%;
    position: relative;
    z-index: 2;
    text-align: right;
}